<h1>Lista de Filmes</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= link_to movie.category.title, category_path(movie.category_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
