<h1>Categorias</h1>

<table class='table'>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
